body{
    background-color:#434343;
}
#numero{
    border-radius: 5px;
    position: absolute;
    top: 150px;
    left: 520px;
}
#button-number{
    color: white;
    background-color: darkorange;
    border: darkorange;
    border-radius: 5px;
    position: absolute;
    top: 153px;
    left: 700px;
}
#mensajeUno{
    text-align: center;
    height: 100px;
    width: 250px;
    border: 0px;
    position: absolute;
    left: 300px;
    top: 250px;
    border-radius: 30px;
}
#mensajeDos{
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 250px;
    border: 0px;
    position: absolute;
    left: 300px;
    top: 400px;
    border-radius: 30px;
}
    
#cifrado{
    color: grey;
    text-align: center;
    width: 250px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    left: 700px;
    top: 250px;    
}

#descifrado{
    color: grey;
    text-align: center;
    width: 250px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    left: 700px;
    top: 400px;
}  

#botonCifrar{
    color: white;
    border: 0px;
    font-size: 20px;
    background-color: darkorange;
    border-radius: 5px;
    width: 100px;
    position: absolute;
    top: 290px;
    left: 575px;
}
#botonDescifrar{
    color: white;
    border: 0px;
    font-size: 20px;
    background-color: darkorange;
    border-radius: 5px;
    width: 100px;
    position: absolute;
    top: 430px;
    left: 575px;
}